<style>
  .circle-image,
  .cir-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    transition: transform 0.3s ease;
  }
  .circle-image:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  .overlay-button {
    position: absolute; /* 绝对定位 */
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7); /* 半透明背景 */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: none;
    color: white;
  }

  .circle-image:hover .overlay-button {
    display: block !important; /* 鼠标悬停时显示按钮 */
  }
  .overlay-button:hover {
    text-decoration: none;
    font-size: 14px;
    color: #eb6d9c;
  }
</style>

<div class="customstyle{{ section.id }}" data-aos="{{section.settings.animation}}">
  {%- render 'style-section' -%}
  <div class="container">
    <div class="row">
      {% for block in section.blocks %}
        <div class="col-lg-3 col-md-6 col-sm-6 align-self-center justify-content-center">
          <div class="circle-image">
            <img
              src="{{ block.settings.circle-image |  image_url  }}"
              class="cir-img"
              alt="image"
              width="100%"
              height="100%"
            >
            <a href="{{ block.settings.link }}" class="overlay-button">
              {{ block.settings['button-text'] }}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Circle Image",
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Feft"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Select Animation"
    },
    {
      "type": "text",
      "id": "paddingsection",
      "label": "Padding Section",
      "default": "0px 0px 0px 0px",
      "info": "Padding: Top Right Bottom Left"
    },
    {
      "type": "text",
      "id": "marginsection",
      "label": "Margin Section",
      "default": "0px 0px 0px 0px",
      "info": "Margin: Top Right Bottom Left"
    },
    {
      "type": "color",
      "id": "bgsection",
      "label": "Background Section",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "Circle-Image",
      "name": "Circle Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "circle-image",
          "label": "Image"
        },
        {
          "type": "collection",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button-text",
          "label": "Button Text",
          "default": "Learn More"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Circle Image"
    }
  ]
}
{% endschema %}
