<style>
  ul {
    margin: 0;
    padding: 0;
  }

  .footer-section {
    position: relative;
  }
  .footer-top {
    background-color: {{ section.settings.footer-bgcolor }};
  }

  .footer-cta {
    border-bottom: 1px solid #373636;
  }

  .single-cta i {
    color: {{ section.settings.footer-cta-color }};
    font-size: 30px;
    float: left;
    margin-top: 8px;
  }

  .cta-text {
    padding-left: 15px;
    display: inline-block;
  }

  .cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }

  .cta-text span {
    color: #757575;
    font-size: 15px;
  }

  .footer-content {
    position: relative;
    z-index: 2;
  }

  .footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
  }

  .footer-logo {
    margin-bottom: 30px;
  }

  .footer-logo img {
    max-width: 200px;
  }

  .footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
  }

  .footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins'
    , sans-serif;
    margin-bottom: 20px;
  }

  .footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
  }

  .footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }

  .facebook-bg {
    background: #3B5998;
  }

  .twitter-bg {
    background: #55ACEE;
  }

  .google-bg {
    background: #DD4B39;
  }

  .footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
  }

  .footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ff5e14;
  }

  .footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
  }

  .footer-widget ul li a:hover {
    color: #ff5e14;
  }

  .footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
  }

  .subscribe-form {
    position: relative;
    overflow: hidden;
  }

  .subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
  }

  .subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
  }

  .subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
  }

  .copyright-area {
    background-color: {{ section.settings.copyright-bgcolor }};
    padding: 25px 0;
  }
  .copyright-text p {
    color: {{ section.settings.copyright-text-color }};
    margin: 0;
    font-size: 14px;
  }

  .copyright-text p a {
    color: #ff5e14;
  }

  .footer-menu li {
    display: inline-block;
    margin-left: 20px;
  }

  .footer-menu li:hover a {
    color: #ff5e14;
  }

  .footer-menu li a {
    font-size: 14px;
    color: #878787;
  }
</style>

<footer class="footer-section">
  <div class="container footer-top">
    <div class="footer-cta pt-5 pb-5">
      <div class="row">
        <div class="contact-block">
          {% for block in section.blocks %}
            <div class="col-xl-4 col-md-4 mb-30">
              <div class="single-cta">
                <i class="{{ block.settings.icon }}"></i>
                <div class="cta-text">
                  <h4>{{ block.settings.heading }}</h4>
                  <span>{{ block.settings.text }}</span>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="footer-content pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-lg-4 mb-50">
          <div class="footer-widget">
            <div class="footer-logo">
              <a href="index.html">
                <img
                  src="https://i.ibb.co/QDy827D/ak-logo.png"
                  width="100"
                  height="100"
                  class="img-fluid"
                  alt="logo" />
              </a>
            </div>
            <div class="footer-social-icon">
              <span>Follow us</span>
              <a href="#">
                <i class="fab fa-facebook-f facebook-bg"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter twitter-bg"></i>
              </a>
              <a href="#">
                <i class="fab fa-google-plus-g google-bg"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Useful Links</h3>
            </div>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">about</a></li>
              <li><a href="#">services</a></li>
              <li><a href="#">portfolio</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Our Services</a></li>
              <li><a href="#">Expert Team</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Latest News</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Subscribe</h3>
            </div>
            <div class="footer-text mb-25">
              <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
            </div>
            <div class="subscribe-form">
              <form action="#">
                <input type="text" placeholder="Email Address">
                <button>
                  <i class="fab fa-telegram-plane"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
      <div class="copyright-text text-center">
        <p>
          &copy; Copyright {{ 'now' | date: '%Y' }}
          <b>{{ shop.name }}</b>
        </p>
      </div>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "color",
        "id": "footer-bgcolor",
        "label": "Footer Background Color",
        "default": "#000000"
      }, {
        "type": "color",
        "id": "copyright-bgcolor",
        "label": "Copyright Background Color",
        "default": "#2E2E2E"
      }, {
        "type": "color",
        "id": "copyright-text-color",
        "label": "Copyright Text Color",
        "default": "#878787"
      }, {
        "type": "color",
        "id": "footer-cta-color",
        "label": "Footer CTA Color",
        "default": "#878787"
      }
    ],
    "blocks": [
      {
        "type": "contact_info",
        "name": "Contact Info Block",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          }, {
            "type": "text",
            "id": "text",
            "label": "Text"
          }, {
            "type": "text",
            "id": "icon",
            "label": "Icon (Font Awesome class)"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Footer",
        "blocks": [
          {
            "type": "contact_info"
          }, {
            "type": "contact_info"
          }, {
            "type": "contact_info"
          }
        ]
      }
    ]
  }
{% endschema %}